<!doctype html>
<html lang="en">
 <head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
   <title>Advisor Websites</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!--[if lt IE 9]>
   <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
   <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
   <![endif]-->
   <style>
     img {
       border: 0;
       margin: 4em 0 2em 0;
       width: 95%;
       max-width: 600px;
     }
     div#container {
       margin: 0 auto;
       text-align: center;
       width: 80%;
       color: #333;
       font-family: sans-serif;
     }
     div#main {
       margin-top: 2em;
     }
     div#main a {
       color: #0D7AB7 ;
     }
     footer {
       margin-top: 3em;
     }
     footer a {
      display: block;
      background-color: #0D7AB7 ;
      width: 150px;
      padding: .5em 1em;
      margin: 0 auto;
      color: #fff;
      text-decoration: none;
      font-family: sans-serif;
     }
   </style>
 </head>

 <body>
   <div id="container">
     <header>
       <p><a href="http://advisorwebsites.com/"><img alt="Advisor Websites - Financial Website Design" src="//advisorwebsites.com/sites/all/themes/aw_bootstrap/images/force-logo.png"></a></p>
     </header>
     <div id="main" role="main">
       <p>This website account does not exist.</p>
       <p>If you think it's something wrong on our end, <br /> please <a href="http://advisorwebsites.com/contact-us" title="Advisor Websites.com contact page">contact us</a>.</p>
     </div>
     <footer>
       <div>
         <a href="http://advisorwebsites.com/">Get a website</a>
       </div>  
     </footer>
   </div>
 </body>
</html>
