{
{% for host in groups['aegir3-saas'] %}
  "{{ hostvars[host]['hostmaster_fqdn'] }}": {
{{ hostvars[host]['network_node_credentials'].stdout }}
  }
{% if not loop.last %}
  ,
{% endif %}
{% endfor %}
}
