core: "7.x"
api: 2
projects:
  hostmaster:
    type: core
    version: "7.x-3.7"
  features: {}
  hosting_services: {}
  hosting_variables: {}
  libraries: {}
  oauth: {}
  services: {}
  services_api_key_auth: {}