core: "7.x"
api: 2
projects:
  hostmaster:
    type: core
    version: "7.x-3.7"
  features: {}
  hosting_services: {}
  hosting_variables: {}
  libraries: {}
  oauth:
    patch:
      - "https://www.drupal.org/files/refactor-DrupalOAuthRequest-1991416-23.patch"
  services: {}
  services_api_key_auth: {}